@import "../../assets/scss/variables";
.#{$prefix} {
    &-viewMap-wrap {
        width: 100%;
        height: 100%;
        &-map-container {
            position: absolute;
            display: flex;
            min-height: 1000px;
            bottom: 80px;
            width: 100%;
            background: green;
        }
        &-btns {
            position: absolute;
            display: flex;
            left: 0;
            right: 0;
            bottom: 0;
            line-height: 40px;
            background: #03bbd5;
        }
        &-btn {
            flex: 1;
            text-align: center;
            color: #fff;
        }
        &-btn-publish {
            background: #ff9700;
            text-align: center;
            flex: 1;
        }
        &-map {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
        }
        &-coverloc {
            z-index: 6;
            margin: auto;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            height: 100px;
            width: 100px;
            .coverlocpng {
                height: 100px;
                width: 100px;
            }
        }
    }
}